<form>
    <div class="form-group">
        <label for="userName">Name</label>
        <div class="col-sm-5">
            <input [value]="userName" type="text" class="form-control" id="userName" aria-describedby="emailHelp" placeholder="Enter your name">
        </div>
        <small id="nameHelp" class="form-text text-muted">We'll never share your information with anyone else.</small>
    </div>
    <div class="form-group">
        <label for="licensePlate">License plate</label>
        <div class="col-sm-5">
            <input [value]="licensePlate" type="text" class="form-control" id="licensePlate" placeholder="Enter your License plate number">
        </div>
    </div>
    <div class="form-group">
        <label for="phoneNumber">Phone number</label>
        <div class="col-sm-5">
            <input [value]="phoneNumber" type="text" class="form-control" id="phoneNumber" placeholder="Enter your Phone number">
        </div>
    </div>
    <button (click)="onButtonClicked()" class="btn btn-primary">Submit</button>

    <pre>
        {{ responseData }}
    </pre>
</form>